.usecasesBlock {
    background: var(--dark-blue);
    padding: 0 var(--page-pd);

    &__slider {
        position: relative;
        width: 100%;
        height: 880px;
        color: #fff;
        display: flex;
    }

    &__slide {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity .5s;
        display: flex;
        z-index: 1;

        opacity: 1;
        z-index: 5;
        &.active {
            opacity: 1;
            z-index: 5;
        }
    }

    &__pagination {
        display: inline-flex;
        height: 408px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 5;
        transform: translateY(-50%);
    }

    &__paginationCount {
        font-size: 14px;
        font-weight: 500;
    }

    &__paginationMarker {
        flex: 1 0 0;
        width: 4px;
        border-radius: 4px;
        cursor: pointer;
        background: var(--white-24);
        margin: 12px 0;

        &.active {
            background: var(--general);
        }
    }

    &__info,
    &__visual {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__infoAccent {
        color: var(--Blue, var(--general));
        white-space: pre-wrap;
    }

    &__infoText {
        color: #fff;
        margin-bottom: 32px;
        white-space: pre-wrap;
        padding-right: 32px;
    }

    &__infoDesc {
        margin-bottom: 32px;
        padding-right: 32px;
    }

    &__visualContent {
        border-radius: 40px;
        height: 488px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.pink {
            background: var(--bg-pink);
        }

        &.yellow {
            background: var(--bg-yellow);
        }

        &.blue {
            background: var(--bg-blue);
        }
    }
}

[data-theme='dark'] {
    .usecasesBlock {
        background: var(--accent-bg);
    }
}

@media screen and (max-width: 1024px) {
    .usecasesBlock {
        &__slider {
            height: 750px;
        }

        &__slideRow {
            display: block;
            width: 100%;
        }

        &__slide {
            padding-bottom: 64px;
            text-align: center;
        }

        &__visual {
            align-items: center;
            margin: 32px 0;
        }

        &__info {
            margin: 32px 0;
        }

        &__visualContent {
            width: 335px;
            height: 335px;
            max-width: 100%;
        }

        &__pagination {
            flex-direction: row;
            height: auto;
            width: 100%;
            right: auto;
            top: auto;
            bottom: 32px;
        }

        &__paginationCount {
            margin: 0 12px;
        }

        &__paginationMarker {
            width: auto;
            height: 4px;

            &+& {
                margin-left: 12px;
            }
        }

        &__infoText {
            padding-right: 0;
            margin-bottom: 24px;
        }

        &__infoDesc {
            padding-right: 0;
            flex-shrink: 0;
            min-height: 66px;
        }
    }
}